<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stocksapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StocksApplication">
        <activity
            android:name=".OtherUserActivity" android:label="Other Users"
            android:exported="false" android:parentActivityName=".StockListActivity" />
        <activity
            android:name=".MyStocksActivity" android:label="Your Stocks"
            android:exported="false" android:parentActivityName=".StockListActivity" />
        <activity
            android:name=".DeleteAccountActivity" android:label="Delete Account"
            android:exported="false" android:parentActivityName=".ProfileActivity"/>
        <activity
            android:name=".ReviewActivity" android:label="Login History"
            android:exported="false" android:parentActivityName=".ProfileActivity"/>
        <activity
            android:name=".ChangeEmailActivity" android:label="Change Email"
            android:exported="false" android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ProfileActivity" android:label="Profile"
            android:exported="false" android:parentActivityName=".StockListActivity" />
        <activity
            android:name=".StockPurchaseActivity" android:label="Stock Purchase"
            android:exported="false" android:parentActivityName=".StockListActivity" />
        <activity
            android:name=".GetStocksActivity" android:label="Stock Details"
            android:exported="false" android:parentActivityName=".StockListActivity" />
        <activity
            android:name=".DrawermenuActivity"
            android:exported="false" />
        <activity
            android:name=".StockListActivity"
            android:exported="false" android:label="My stocks" />
        <activity
            android:name=".LoginActivity" android:label="Login"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity" android:label="Register"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>